<div id="share-options-bar" class="share-options-bar" data-behavior="<%= sidebarBehavior %>">
    <ul class="share-options">
        <ul class="post-actions post-action-share">
        <li class="post-action hide-lg hide-md hide-sm">
            <a class="post-action-btn btn btn--default btn-open-shareoptions"  href="#btn-open-shareoptions">
                <i class="fa fa-share-alt"></i>
            </a>
        </li>
        <li class="post-action hide-xs">
            <a class="post-action-btn btn btn--default tooltip--top" target="new" data-tooltip="分享至新浪微博" href="<%= 'http://www.jiathis.com/send/?webid=tsina&appkey=&uid=你的uid&url=' + post.permalink + '&title=' + post.title %>">
                <i class="fa fa-weibo"></i>
            </a>
        </li>
        <li class="post-action hide-xs">
            <a class="post-action-btn btn btn--default tooltip--top" target="new" data-tooltip="分享至微信" href="<%= 'http://www.jiathis.com/send/?webid=weixin&appkey=&uid=你的uid&url=' + post.permalink + '&title=' + post.title %>">
                <i class="fa fa-weixin"></i>
            </a>
        </li>
    </ul>
</div>
<div id="share-options-mask" class="share-options-mask"></div>